@page "/browse"
@inject NavigationManager NavigationManager

<PageTitle Title="Magnifier" />

<Heading size="2">Browse comments</Heading>
<EditForm Model="@query" OnValidSubmit="@ViewProjectComments">
    <InputText @bind-Value="@query.id" placeholder="Scratch project ID" class="transition duration-300 bg-white hover:bg-whiteHover active:outline-none focus:outline-none text-black font-dosis text-4xl rounded-2xl p-3"></InputText>
    <button type="submit" class="transition duration-300 bg-primary hover:bg-primaryHover active:outline-none focus:outline-none text-black font-dosis text-4xl rounded-2xl p-3">View comments</button>
</EditForm>

@code {
    private BrowseQuery query = new BrowseQuery();

    private void ViewProjectComments()
    {
        NavigationManager.NavigateTo($"/projects/{query.id}");
    }
}