@page "/"

<PageTitle Title="Magnifier" />

<div class="w-screen max-w-full h-screen p-0" style="/*background-image: url('/images/front_page_bg.png'); background-repeat: no-repeat; background-position: center; background-size: cover;*/">
    <div class="flex flex-col justify-center items-center h-screen">
        <Heading size="1">Magnifier</Heading>
        <FrontPageButton primary>Browse</FrontPageButton>
        <FrontPageButton>Enable in SA</FrontPageButton>
        <FrontPageButton>Read the docs</FrontPageButton>
    </div>
</div>