@page "/"

<div class="flex flex-col justify-center items-center h-screen">
    <Heading size="1">Magnifier</Heading>
    <FrontPageButton primary>Browse</FrontPageButton>
    <FrontPageButton>Enable in <span class="text-red">nono word</span></FrontPageButton>
    <FrontPageButton>Read the docs</FrontPageButton>
</div>