@page "/"

<PageTitle Title="Magnifier" />

<div class="w-screen max-w-full h-screen p-0 m-0" style="background-image: url('/images/yeet_goat.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
    <div class="flex flex-col justify-center items-center h-screen">
        <div class="flex flex-col justify-center items-center bg-darkGrey rounded-lg p-4">
            <Heading size="1" colour="white">Magnifier</Heading>
            <FrontPageButton href="browse" primary>Browse</FrontPageButton>
            <FrontPageButton href="install">Enable in SA</FrontPageButton>
            <FrontPageButton href="docs">Read the docs</FrontPageButton>
        </div>
    </div>
</div>

<footer>
    <Footer noMargin/>
</footer>