@page "/install"

<PageTitle Title="Install Magnifier" />

<div class="px-4">
    <!--<Heading size="2">Install Magnifier</Heading>
    <Heading size="3">
        Coming soon. Use the <NavLink href="browse" class="text-blue">Browse</NavLink> page to view and react to comments.
    </Heading>-->
    <Heading size="2">:(</Heading>
</div>

@code {

}