@page "/loading"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle Title="Loading Magnifier" />

<div class="p-4">
    <div class="flex items-center flex-row">
        <img src="/images/icon.png" class="animate-rotate w-20 h-20 mx-4" />
        <Heading size="2">Loading...</Heading>
    </div>
    <p class="text-lg mt-4">
        Some Magnifier pages may take a while to load at the moment, due to comment storage issues.
    </p>
</div>

@code {

}