@page "/react"
@page "/react/{commentId}/{name}"
@using Magnifier.Models
@using Services
@inject HttpClient Http

@if (hasInitialized)
{
    <Heading size="3">Do you want to toggle reaction @reaction.emoji to the following comment?</Heading>
    <Button>Yes</Button>
    <Button>No</Button>
}

@code {
    private bool hasInitialized = false;

    [Parameter]
    public string commentId { get; set; }

    [Parameter]
    public string name { get; set; }

    public Reaction reaction { get; set; }

    protected override async Task OnInitializedAsync()
    {
        reaction = await Http.GetFromJsonAsync<Reaction>($"https://api.magnifier.potatophant.net/api/Reactions/{name}");

        hasInitialized = true;
    }
}