@page "/terms"

<PageTitle Title="Magnifier Terms of Use" />

<div class="px-4">
    <Heading size="2">Terms of use</Heading>
    <Heading size="3">There isn't really much to put in here, just don't:</Heading>
    <ul>
        <li>do anything not allowed on scratch</li>
        <li>do anything illegal in the uk, us, or wherever you are <span class="text-xs">(unless its some far right dictatorship where breathing is illegal in which case i really dont care)</span></li>
        <li>ban evade, it isnt very cool and will just result in you getting ip banned</li>
        <li>spam reactions, and dont dislike someones post unless you mean it</li>
        <li>spam api requests using external programs, especially for reactions</li>
        <li>have a 9 letter username beginning with "4" and ending with "1", that also includes "600936"</li>
    </ul>
    <Heading size="3">Privacy:</Heading>
    <ul>
        <li>i collect anonymous page view counts and things such as bounce rate</li>
        <li>i store your ip address(s) will be linked to your account, incase i need to ban someone. i wont share them with anyone or dox you and i probably wont even look at them unless i have to</li>
        <li>spyglass (magnifier frontend) uses google firebase hosting. no google analytics/tracking are included in the site</li>
    </ul>
</div>

@code {

}