@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<header>
    <Navbar fixedPosition="@fixNavbar"/>
</header>

<div class="main">
    @if (fixNavbar)
    {
        <div class="content p-0" style="padding: 0 !important;">
            @Body
        </div>
    }
    else
    {
        <div class="content px-4">
            @Body
        </div>
    }
</div>

@code {
    private bool fixNavbar { get; set; }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;

        fixNavbar = new Uri(NavigationManager.Uri).LocalPath == "/" || new Uri(NavigationManager.Uri).LocalPath == "";

        StateHasChanged();
    }

    private void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        fixNavbar = new Uri(NavigationManager.Uri).LocalPath == "/" || new Uri(NavigationManager.Uri).LocalPath == "";

        StateHasChanged();
    }
}