@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<header id="header">
    <Navbar fixedPosition="@fixNavbar" />
</header>

<div class="main">
    <div id="body" class="content" style="padding: 0 !important;">
        @Body
    </div>
    <!--<div id="body" class="content px-4">
        @Body
    </div>-->
</div>

@if (new Uri(NavigationManager.Uri).Segments.Length >= 2)
{
    if (new Uri(NavigationManager.Uri).Segments[1] != "projects/" && new Uri(NavigationManager.Uri).Segments[1] != "users/" && new Uri(NavigationManager.Uri).Segments[1] != "studios/")
    {
        <footer>
            <Footer />
        </footer>
    }
}
else
{
    if (!fixNavbar)
    {
        <footer>
            <Footer />
        </footer>
    }
}

<iframe src="/setBodyHeight.html" class="hidden" />

@code {
    private bool fixNavbar { get; set; }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;

        fixNavbar = new Uri(NavigationManager.Uri).LocalPath == "/" || new Uri(NavigationManager.Uri).LocalPath == "";

        StateHasChanged();
    }

    private void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        fixNavbar = new Uri(NavigationManager.Uri).LocalPath == "/" || new Uri(NavigationManager.Uri).LocalPath == "";

        StateHasChanged();
    }
}