@using Magnifier.Models
@using Services
@inject AuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@if (fixedPosition)
{
    <nav class="fixed flex justify-between bg-darkGrey w-full px-5">
        <!--<img src="images/website_wordmark.png" class="inline-block"/>-->
        <NavLink href="" class="mr-5" style="background-image: url('/images/website_wordmark.png'); background-repeat: no-repeat; background-position: center; background-size: contain; width: 250px;"></NavLink>
        <NavbarButton href="browse">Browse</NavbarButton>
        <NavbarButton href="install">Install</NavbarButton>
        <NavbarButton href="docs">Docs</NavbarButton>
        <div class="flex-grow" />
        @if (AuthenticationService.user != null)
        {
            <NavbarButton href="logout">Log out</NavbarButton>
            <a href="https://scratch.mit.edu/users/@AuthenticationService.user.username" target="_blank" rel="noopener noreferrer" class="rounded" style="background-image: url(@AuthenticationService.user.scratchUser.image); background-repeat: no-repeat; background-position: center; background-size: contain; width: 96px;" />
        }
        else
        {
            <NavbarButton href="login">Log in</NavbarButton>
        }
    </nav>
}
else
{
    <nav class="flex bg-darkGrey w-full px-5">
        <!--<img src="images/website_wordmark.png" class="inline-block"/>-->
        <NavLink href="" class="mr-5" style="background-image: url('/images/website_wordmark.png'); background-repeat: no-repeat; background-position: center; background-size: contain; width: 250px;"></NavLink>
        <NavbarButton href="browse">Browse</NavbarButton>
        <NavbarButton href="install">Install</NavbarButton>
        <NavbarButton href="docs">Docs</NavbarButton>
        <div class="flex-grow" />
        @if (AuthenticationService.user != null)
        {
            <NavbarButton href="logout">Log out</NavbarButton>
            <a href="https://scratch.mit.edu/users/@AuthenticationService.user.username" target="_blank" rel="noopener noreferrer" class="rounded" style="background-image: url(@AuthenticationService.user.scratchUser.image); background-repeat: no-repeat; background-position: center; background-size: contain; width: 96px;" />
        }
        else
        {
            <NavbarButton href="login">Log in</NavbarButton>
        }
    </nav>
}

@code {
    [Parameter]
    public bool fixedPosition { get; set; }

    protected override void OnInitialized()
    {
        AuthenticationService.Initialize();
    }
}