<nav class="flex bg-darkGrey w-full px-5">
    <!--<img src="images/website_wordmark.png" class="inline-block"/>-->
    <NavLink href="" class="mr-5" style="background-image: url('images/website_wordmark.png'); background-repeat: no-repeat; background-position: center; background-size: contain; width: 250px;"></NavLink>
    <NavbarButton href="browse">Browse</NavbarButton>
    <NavbarButton href="install">Install</NavbarButton>
    <NavbarButton href="docs">Docs</NavbarButton>
</nav>

@code {

}