@using Magnifier.Models
@using Services
@inject HttpClient Http
@inject ReactionService ReactionService

<div class="flex flex-row">
    @if (hasInitialised)
    {
        if (notFound)
        {
            <p>Comment doesn't exist!</p>
        }
        else
        {
            foreach (Reaction reaction in reactions)
            {
                <ReactionButton projectId="@projectId" commentId="@commentId" comment="@comment" reaction="@reaction" />
            }
        }
    }
</div>

@code {
    private bool hasInitialised = false;

    [Parameter]
    public string projectId { get; set; }

    [Parameter]
    public string commentId { get; set; }

    [Parameter]
    public Magnifier.Models.Comment comment { get; set; }

    private List<Reaction> reactions { get; set; }

    private bool notFound = false;

    protected override async Task OnInitializedAsync()
    {
        reactions = ReactionService.reactions;
        /*
        HttpResponseMessage comment = await Http.GetAsync($"https://localhost:5001/api/Comments/{commentId}");

        if (comment.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            notFound = true;
        }*/

        hasInitialised = true;
    }
}
