@using Magnifier.Models
@inject HttpClient Http

<div>
    @if (hasInitialised)
    {
        if (notFound)
        {
            <p>Comment doesn't exist!</p>
        }
        else
        {
            foreach (Reaction reaction in reactions)
            {
                <ReactionButton projectId="@projectId" commentId="@commentId" reaction="@reaction" />
            }
        }
    }
</div>

@code {
    private bool hasInitialised = false;

    [Parameter]
    public string projectId { get; set; }

    [Parameter]
    public string commentId { get; set; }

    private List<Reaction> reactions { get; set; }

    private bool notFound = false;

    protected override async Task OnInitializedAsync()
    {
        reactions = await Http.GetFromJsonAsync<List<Reaction>>($"https://localhost:5001/api/Reactions");

        HttpResponseMessage comment = await Http.GetAsync($"https://localhost:5001/api/Comments/{projectId}/{commentId}");

        if (comment.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            notFound = true;
        }

        hasInitialised = true;
    }
}
