@page
@namespace Spyglass.Server.Pages
@using Spyglass
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prerendering client-side Blazor</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="Static" />
    </app>

    <script src="_framework/blazor.webassembly.js"></script>
</body>
</html>-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Magnifier</title>
    <base href="/" />
    <!--<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />-->
    <link href="css/app.css" rel="stylesheet" />
    <link href="Spyglass.styles.css" rel="stylesheet" />
</head>

<body class="bg-pureWhite text-black">
    <app>
        <component type="typeof(App)" render-mode="WebAssemblyPrerendered" />
    </app>

    <script>
        window.bioWiwoLinks = () => {
            let links = document.querySelectorAll("#bioWiwo a");

            links.forEach((i) => {
                i.addEventListener("click", (e) => {
                    location.href = i.getAttribute("href");
                });
            });
        }
    </script>

    <div id="blazor-error-ui" style="display: none; visibility: hidden;">
        <!--An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>-->
    </div>
    <script src="_framework/blazor.webassembly.js"></script>

    <script>
        window.setTitle = (title) => { document.title = title; }
    </script>

    <!-- plausible analytics --><script async defer data-domain="magnifier-test.potatophant.net" src="https://analytics.potatophant.net/js/plausible.js"></script>
</body>

</html>