@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dosis';
    font-weight: 400;
    src: url('../fonts/Dosis.ttf') format('truetype');
}

@font-face {
    font-family: 'DidactGothic';
    font-weight: 400;
    src: url('../fonts/DidactGothic.ttf') format('truetype');
}

#bioWiwo a {
    @apply font-bold text-blue mb-2;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
